@page "/account/register"

@inject IUserSession _session
@inject NavigationManager nav
@inject IAlertService toast
@inject EmailService _sender

<!-- Bootstrap Modal Dialog -->
<div class="modal" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: dodgerblue">
                <h5 class="modal-title">Register</h5>
            </div>
            <div class="modal-body">
                <div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" @bind-value="@rg.FirstName">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Email</span>
                        <input type="email" class="form-control" @bind-value="@rg.Email">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Password</span>
                        <input type="password" class="form-control" @bind-value="@rg.Password">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Repeat Password</span>
                        <input type="password" class="form-control" @bind-value="@rg.RepeatPassword">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="Cancel">Cancel</button>
                    <button class="btn btn-primary btn-sm active" @onclick="RegisterNew">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    protected RegisterModel rg { get; set; } = new RegisterModel();

    protected async Task RegisterNew()
    {
        try
        {
            User user = await _session.Register(rg);
            string uri = $"{nav.BaseUri}account/activate/{user.OTP}";
            _session.SendOTP(user, uri);
            nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            toast.Error(ex.Message);
        }
    }
    public void Cancel()
    {
        nav.NavigateTo("/");
    }
}
